@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Kotta;
    src: url(../assets/fonts/KottaOne-Regular.ttf);
}

@font-face {
    font-family: Marg;
    src: url(../assets/fonts/Margarine-Regular.ttf);
}

@font-face {
    font-family: Nerko;
    src: url(../assets/fonts/NerkoOne-Regular.ttf);
}

.kotta{
    font-family: Kotta;
}

.marg{
    font-family: Marg;
}

.nerko{
    font-family: Nerko;
}

body{
    /* Background Image */
    background-image: url(../assets/hallokitty.png);
    background-size: cover;
    background-position: top;
    background-color: #FFDEDE;
}

.bgColor{
    /* Custom Color */
    background-color: #6C3779;
}

.bgColorButPink{
    /* Custom Color */
    background: rgb(255 222 222 / 75%);
}  

.purpleColor{
    /* Custom Color */
    color: #6C3779;
}

.pinkColor{
    /* Custom Color */
    color: #FFDEDE;
}