@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Kotta;
    src: url(../assets/fonts/KottaOne-Regular.ttf);
}

@font-face {
    font-family: Marg;
    src: url(../assets/fonts/Margarine-Regular.ttf);
}

@font-face {
    font-family: Nerko;
    src: url(../assets/fonts/NerkoOne-Regular.ttf);
}

.kotta{
    font-family: Kotta;
}

.marg{
    font-family: Marg;
}

.nerko{
    font-family: Nerko;
}

body{
    background-image: url(../assets/796dbcf7c0c98169fe762cf509aeea90.png);
    background-size: cover;
}

.bgColor{
    /* Custom Color */
    background-color: #6C3779;
}

.bgColorButPink{
    /* Custom Color */
    background: rgb(255 222 222 / 60%);
}

.purpleColor{
    /* Custom Color */
    color: #6C3779;
}

.pinkColor{
    /* Custom Color */
    color: #FFDEDE;
}

.flipImage{
    /* Flips image */
    transform: scaleX(-1);
}

.borderRound{
    /* Adds rounded corners to image */
    border-radius: 30px; 
}

@media (min-width: 1024px) {
    .lg\:customMargin {
        /* Tailwind Didn't Have This Large Of A Size Please Don't Hurt Me */
        margin-left: 26rem; 
        margin-right: 26rem;
    }
}